<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>encode</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <!-- 创建一个servlet实例 -->
  <servlet>
    <servlet-name>servletDemo1</servlet-name>
    <servlet-class>com.xiaobin.servlet.servletDemo1</servlet-class>
    <!-- servlet生命周期：实例化-1-初始化-2-服务-销毁 -->
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>servletDemo1</servlet-name>
    <url-pattern>/xiaobin</url-pattern>
  </servlet-mapping>

  <!-- 创建一个servlet实例 -->
  <servlet>
    <servlet-name>servletDemo2HTTPServlet</servlet-name>
    <servlet-class>com.xiaobin.servlet.servletDemo2HTTPServlet</servlet-class>
    <!-- servlet生命周期：实例化-1-初始化-2-服务-销毁 -->
    <!--<load-on-startup>2</load-on-startup>-->
  </servlet>


  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>servletDemo2HTTPServlet</servlet-name>
    <url-pattern>/xiaobin2</url-pattern>
  </servlet-mapping>

  <!-- 创建一个servlet实例 -->
  <servlet>
    <servlet-name>servletConfigDemo</servlet-name>
    <servlet-class>com.xiaobin.servletConfig.ServletConfigDemo</servlet-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <!-- servlet生命周期：实例化-1-初始化-2-服务-销毁 -->
    <!--<load-on-startup>2</load-on-startup>-->
  </servlet>

  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>servletConfigDemo</servlet-name>
    <url-pattern>/servletConfig</url-pattern>
  </servlet-mapping>


  <!-- 创建一个servlet实例 -->
  <servlet>
    <servlet-name>servletContextDemo</servlet-name>
    <servlet-class>com.xiaobin.servletConfig.ServletContextDemo</servlet-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <!-- servlet生命周期：实例化-1-初始化-2-服务-销毁 -->
    <!--<load-on-startup>2</load-on-startup>-->
  </servlet>

  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>servletContextDemo</servlet-name>
    <url-pattern>/servletContext</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletRequestDispatcher</servlet-name>
    <servlet-class>com.xiaobin.servletConfig.ServletRequestDispatcher</servlet-class>
  </servlet>
  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>ServletRequestDispatcher</servlet-name>
    <url-pattern>/servletrd</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ServletRespDemo1</servlet-name>
    <servlet-class>com.xiaobin.httpServletResponse.ServletRespDemo1</servlet-class>
  </servlet>
  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>ServletRespDemo1</servlet-name>
    <url-pattern>/servletRespDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRespOut</servlet-name>
    <servlet-class>com.xiaobin.httpServletResponse.ServletRespOut</servlet-class>
  </servlet>
  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>ServletRespOut</servlet-name>
    <url-pattern>/servletRespOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCheckImg</servlet-name>
    <servlet-class>com.xiaobin.httpServletResponse.ServletCheckImg</servlet-class>
  </servlet>
  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>ServletCheckImg</servlet-name>
    <url-pattern>/servletCheckImg</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.xiaobin.httpServletResponse.line.StatusServlet</servlet-class>
  </servlet>
  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/statusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.xiaobin.httpServletResponse.header.Servlet1</servlet-class>
  </servlet>
  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.xiaobin.httpServletResponse.header.Servlet2</servlet-class>
  </servlet>
  <!-- 给servlet提供一个可供客户端访问的URI -->
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.xiaobin.httpServletResponse.checkimg.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImgServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.xiaobin.httpServletResponse.demo.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demoServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LineServlet</servlet-name>
    <servlet-class>com.xiaobin.httpServletRequest.line.LineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineServlet</servlet-name>
    <url-pattern>/lineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefererServlet</servlet-name>
    <servlet-class>com.xiaobin.httpServletRequest.header.RefererServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefererServlet</servlet-name>
    <url-pattern>/refererServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>com.xiaobin.httpServletRequest.cotnet.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/contentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LastAccessTimeServlet</servlet-name>
    <servlet-class>com.xiaobin.cookiesession.lastaccesstime.LastAccessTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastAccessTimeServlet</servlet-name>
    <url-pattern>/lastAccessTimeServlet</url-pattern>
  </servlet-mapping>
  
  <!--事务-->
  <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.xiaobin.transaction.transfer.web.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transferServlet</url-pattern>
  </servlet-mapping>
  <!--DAO-->
  <servlet>
    <servlet-name>AdminAddProductUIServlet</servlet-name>
    <servlet-class>com.xiaobin.addDeleteUpdateQry.web.AdminAddProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductUIServlet</servlet-name>
    <url-pattern>/adminAddProductUIServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <servlet-class>com.xiaobin.addDeleteUpdateQry.web.AdminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <url-pattern>/adminDelProductServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.xiaobin.addDeleteUpdateQry.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductListServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>com.xiaobin.addDeleteUpdateQry.web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProductServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <servlet-class>com.xiaobin.addDeleteUpdateQry.web.AdminUpdateProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <url-pattern>/adminUpdateProductUIServlet</url-pattern>
  </servlet-mapping>
<!--  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>-->
</web-app>
