<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--空参构造创建对象-->
    <bean name="User" class="com.xiaobin.bean.User"></bean>

    <!--<bean name="OrdCust" class="com.xiaobin.bean.OrdCust">-->
        <!--<property name="ordList">-->
            <!--<list>-->
                <!--<value>fromChina</value>-->
                <!--<value>fromUSA</value>-->
                <!--<value>fromUK</value>-->
                <!--<ref bean="User"></ref>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

</beans>